BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
AlwaysBreakAfterReturnType: TopLevel
ColumnLimit: 80
UseTab: Always
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  IndentBraces: false
AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false